.menu { list-style-type: none;
margin: 2;
padding: 2;
font-family: Arial, Arial, Helvetica, sans-serif;
font-weight: bold;
overflow: hidden;
background-color: black;
}
.menu li { float: left;
}
.menu li a { display: block;
color: white;
text-align: justify;
padding: 14px 16px;
text-decoration: none;
}
.menu li a:hover { background-color: white;
-moz-box-shadow: 1px 3px 10px 0 #ccc;
-webkit-box-shadow: 0 3px 10px 0 #ccc;
text-shadow: 0px 0px 5px #fff;
color: black;
}
.menu li ul { position: relative;
top: 0;
left: 0;
background-color: #fff;
z-index: 10;
display: none;
}
.menu li:hover ul, .menu li.over ul { display: block;
}
.featured {
    position: absolute;
    display: flex;
    align-items: center;
    top: 126%;
    width: 65.4%;
    height: 5%;
    left: 0;
    background-color: red;
    border: 5px solid black;
}
.featured li{
    font-size: 23px;
    text-decoration: none;
    list-style: none;
    margin: 3%;
}

.products img {
    width: 45%;
}
.products .product1 {
    position: absolute;
    display: flex;
    background-color: black;
    width: 31.7%;
    height: 35.7%;
    top: 132.65%;
    left: 0;
    border-right: 5px solid red;
    border-left: 5px solid red;
    border-bottom: 5px solid red;
}
.products .product1 .txt1 {
    position: absolute;
    top: -12.4%;
    left: 47%;
    font-size: x-large;
    color: red;
}
.products .cont1 {
    font-size: 17px;
    position: absolute;
    top: 148%;
    width: 17%;
    left: 15.4%;
    color: rgb(202, 202, 202)
}
.products .btn1 {
    position: absolute;
    list-style-type: none;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 5%;
    border-radius: 30px;
    color: red;
    top: 160.5%;
    left: 16.4%;
}
.products li a {
    text-decoration: none;
    color: inherit;
}
.products li:hover {
    background-color: red;
    color: black;
}
.products .sku1 {
    position: absolute;
    width: 80px;
    top: 139%;
    left: 15.4%;
}
.products .product2 {
    position: absolute;
    display: flex;
    background-color: black;
    width: 31.7%;
    top: 132.65%;
    left: 33.7%;
    border-right: 5px solid red;
    border-left: 5px solid red;
    border-bottom: 5px solid red;
}
.products .product2 .txt2 {
    position: absolute;
    top: -12.4%;
    left: 41.5%;
    font-size: x-large;
    color: red;
}
.products .cont2 {
    font-size: 17px;
    position: absolute;
    top: 148%;
    width: 17%;
    left: 47.3%;
    color: rgb(202, 202, 202)
}
.products .btn2 {
    position: absolute;
    list-style-type: none;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 5%;
    border-radius: 30px;
    color: red;
    top: 160.5%;
    left: 48.3%;
}
.products .sku2 {
    position: absolute;
    width: 80px;
    top: 139%;
    left: 47.3%;
}
.products .product2 img {
    width: 39.5%;
}
.products .product3 {
    position: absolute;
    display: flex;
    background-color: black;
    width: 31.7%;
    top: 171.65%;
    left: 0;
    border: 5px solid red;
}
.products .product3 .txt3 {
    position: absolute;
    top: -8.4%;
    left: 47%;
    font-size: x-large;
    color: red;
}
.products .cont3 {
    font-size: 17px;
    position: absolute;
    top: 191.5%;
    width: 17%;
    left: 15.4%;
    color: rgb(202, 202, 202)
}
.products .btn3 {
    position: absolute;
    list-style-type: none;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 5%;
    border-radius: 30px;
    color: red;
    top: 204%;
    left: 16.4%;
}
.products .sku3 {
    position: absolute;
    width: 80px;
    top: 180.5%;
    left: 15.4%;
}
.products .product4 {
    position: absolute;
    display: flex;
    background-color: black;
    width: 31.7%;
    height: 41.7%;
    top: 171.65%;
    left: 33.7%;
    border: 5px solid red;
}
.products .product4 .txt4 {
    position: absolute;
    top: -8.4%;
    left: 47%;
    font-size: x-large;
    color: red;
}
.products .cont4 {
    font-size: 17px;
    position: absolute;
    top: 191.5%;
    width: 17%;
    left: 49.1%;
    color: rgb(202, 202, 202)
}
.products .btn4 {
    position: absolute;
    list-style-type: none;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 5%;
    border-radius: 30px;
    color: red;
    top: 204%;
    left: 50.1%;
}
.products .sku4 {
    position: absolute;
    width: 80px;
    top: 181.5%;
    left: 49.1%;
}

.active { background-color: rgb(255, 0, 0);
}

.logo { position: absolute;
float: right;
width: 240px;
height: 240px;
top: -12px;
}
.logo img { position: relative;
width: 280px;
height: 280px;
}

.banner1 { position: absolute;
left: 23%;
top: 54.3%;
}
.banner1 img {
width: 100%;
}

.fundo li { position: static;
float: right;
width: 100%;
height: 250px;
top: 3%;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
background-color: white;
}

.cardapio { position: absolute;
width: 800px;
height: 900px;
left: 24.5%;
top: 53.6%;
border: solid;
border-radius: 7px;
background-color: white;
}

.cart { position: relative;
left: 72.5%;
top: -10%;
color: #272727;
}
.cart img { width: 3%;
}
.cart a { text-decoration: none;
color: inherit;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.number { position: relative;
left: 80%;
top: 55%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cardapio .titulo {
color: black;
text-decoration: none;
list-style-type: none;
border-bottom: solid;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 72px;
text-align: center;
}

.conteudo .titulo2 { position: absolute;
color: black;
list-style-type: none;
text-decoration: none;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 36px;
top: 70%;
left: 26%;
}
.conteudo .bebidas { position: absolute;
}


.conteudo .titulo3 { position: absolute;
color: black;
list-style-type: none;
text-decoration: none;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 36px;
top: 70%;
left: 57%;
}

.linha_h1 { position: absolute;
width: 5px;
height: 740px;
background-color: black;
border-radius: 10px;
left: 55%;
top: 74%;
}

#Busca { background-color: white;
position: absolute;
left: 75%;
top: 11%;
border: solid 1px;
border-radius: 15px;
width: 300px;
display: block;
align-items: center;
}
#Busca img { width: 8%;
display: flex;
justify-content: center;

}
#txtBusca { float: left;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
padding-left: 5px;
font-style: italic;
font-size: 18px;
border: none;
height: 24px;
width: 260px;
}

#menu2 { background-color: red;
list-style: none;
width: 15%;
height: 44.2%;
display: block;
position: absolute;
left: 5%;
border: 4px solid black;
}
#menu2 li { border: 0.34vw solid black;
padding: 0 5px;
justify-content: center;
text-align: center;
}
#menu2 a { text-decoration: none;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 100%;
height: 30%;
}
#menu2 li:hover { background-color: black;
transition: 1s;
}